/**********************************************************
************************** CORES **************************
**********************************************************/
:root {
    --preto: #000000;
    --branco: #ffffff;
    --azul: #0000ff;
    --vermelho: #ff0000;
    --verde: #008000;
    --ciano: #00DBDF;
}


/**********************************************************
************************** CORPO **************************
**********************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}
.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/**********************************************************
************************** QUEST **************************
**********************************************************/
.quest {
    align-items: center;
    padding: 15px;
}